    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">
  
          <div class="row">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
              <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
            </div>
  
            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
              <h3>Qui nous sommes</h3>
              <p>Un groupe de médecins et de sages-femmes acupuncteurs, organisés en association : l’ASOFORMEC (Acupuncteurs du Sud Ouest pour leur FORmation MEdicale Continue)

                Cette association a  vu le jour en juin 2007, à l’initiative d’une majorité de médecins enseignant l’Acupuncture à l’université de Bordeaux II
                
                Nous  proposons des réunions de perfectionnement et de partage des connaissances pour  tous les médecins et sages-femmes acupuncteurs qui souhaitent participer .
                
                Nous avons organisé avec succès les 17ièmes Journées Nationales de la Fédération Française d’Acupuncture FAFORMEC à Bordeaux en novembre 2013 sur le thème « Acupuncture en Cancérologie ».
                
                Nous participons aussi
                
                A des travaux de recherche et de synthèse avec publications dans les revues médicales spécialisées comme la revue Acupuncture & Moxibustion
                A des séances de sensibilisation à la diététique médicale chinoise.
                A des rencontres avec des médecins chinois dans le cadre hospitalier de médecine traditionnelle chinoise : séjours à l’Hôpital de Tunxi et à l’Hôpital de Kunming .</p>
  
              <div class="icon-box">
                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                <h4 class="title"><a href="">Hopital</a></h4>
               
              </div>
  
              <div class="icon-box">
                <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title"><a href="">Personnel</a></h4>
              </div>
  
              <div class="icon-box">
                <div class="icon"><i class="bx bx-atom"></i></div>
                <h4 class="title"><a href="">Patient</a></h4>
              </div>
  
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
  