<!-- ======= Appointment Section ======= -->
<section id="appointment" class="appointment section-bg">
  <div class="container">

    <div class="section-title">
      <h2>List des Personnels</h2>
      <p>La compagnie réunit des médecins, des chirurgiens, des agents technique,des infirmiers ,des aides soignants reconnus pour leurs travaux scientifiques et pour les responsabilités qu’ils ont assumées dans le domaine de la santé.</p>
    </div>
    <table border="2" class="table table-striped ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">num</th>
          <th scope="col">nom</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let p of personnel;let i = index">
          <th scope="row">{{i}}</th>
          <td>{{p.nom.value}}</td>
          
        </tr>
        
      </tbody>
    </table>
  
    <select (change)="onChange($event)">
      <option value="m">Medecin</option>
      <option value="h">AgentHospitalier</option>
      <option value="t">AgentTechnique</option>
      <option value="s">AideSoignant </option>
      <option value="i">Infirmier</option>
    
    
    </select>

  </div>
</section><!-- End Appointment Section -->









