<!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors">
  <div class="container">

    <div class="section-title">
      <h2>List des hopitaux</h2>
      <p>Parce que chaque expérience de soins est unique, et que la satisfaction de chacun de nos patients compte pour nous, désormais nous partagerons avec vous une liste de nos meilleurs Hôpital on Tunisie.</p>
    </div>

    <div class="row">
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">num</th>
            <th scope="col">nom</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let h of hopital;let i = index">
            <th scope="row">{{i}}</th>
            <td>{{h.nom.value}}</td>
            
          </tr>
          
        </tbody>
      </table>
    
          </div>

  </div>
</section><!-- End Doctors Section -->





