<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <h1> Medilab</h1>
    <p>Medilab est une ressource d’éducation à la santé destinée
       aux enfants, aux jeunes et aux soignants,<br> qui est approuvée par les 
       fournisseurs de soins de santé de l’Hospital for Sick Children.<br>
       Medilab permet aux familles de participer de manière plus
        active à leurs propres soins de santé <br>en leur fournissant des informations sur la santé qui 
      sont fiables et fondées sur l’expérience clinique.</p>
    <a href="#about" class="btn-get-started scrollto">COMMENCER</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>ANNUAIRE </h3>
            <p>
              Trouver un médecin ?
              Utilisez notre annuaire
            </p>
            <div class="text-center">
              <a href="#" class="more-btn">voir plus <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Pédiatre du développement</h4>
                  <p>Le pédiatre du développement est un médecin qui se spécialise
                     dans le développement de l’enfant.
                     Apprenez ce qu’il fait and comment il aide votre enfant.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>De réadaptation</h4>
                  <p>Un grand nombre de raisons peuvent faire en sorte que votre enfant
                     ait besoin d’une thérapie de réadaptation. </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Santé mentale</h4>
                  <p>Ce centre offre des ressources pour soutenir la santé mentale de votre enfant grâce à l'activité physique, au sommeil et à la nutrition</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

